.red-circle {
  animation: animateCircle 5s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

.green-circle {
  animation: animateCircle 4s linear infinite reverse;
  transform-box: fill-box;
  transform-origin: center;
}

.yellow-circle {
  animation: animateCircle 8s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes animateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
